.wrapper{
    position: absolute;
    width: 480px;
    height: 322px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 20px 30px black;
}

.quoteNum{
    text-shadow: #444E5C;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: #55FCAA;
    margin-top: 10%;
    font-weight: 700;
    font-size: larger;
}
.quote{
    padding: 10%;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    text-align: center;
    letter-spacing: 0.03em;
    top: 45px;
}
.linesContainer{
    display: flex;
}

.line1{
    flex: 1;
    height: 2px;
    background: #444E5C;
    max-width: 35%;
    margin-top: 38%;
    margin-left: 10.3%;

}

.line2{
    flex: 1;
    height: 2px;
    background: #444E5C;
    max-width: 35%;
    margin-top: 38%;
    margin-left: 9%;
}

.rectangle1{
    position: absolute;
    margin-top: 36.2%;
    margin-left: 50.8%;
    height: 20px;
    width: 7px;
    background-color: white;
    border-radius: 32%;
}

.rectangle2{
    position: absolute;
    margin-top: 36.2%;
    margin-left: 47.5%;
    height: 20px;
    width: 7px;
    background-color: white;
    border-radius: 32%;
}
